<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Space Index</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css">
	{% if page == "add" %}
		<script type="text/javascript" src="/js/addscript.js"></script>
	{% elseif page == "edit" %}
		<script type="text/javascript" src="/js/editscript.js"></script>
	{% endif %}
	<script type="text/javascript" src="/js/search.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
	<script type="text/javascript" src="/js/mobile.js"></script>
</head>
