<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Test</title>
	</head>
	<body>
		<div id="page">
			<div id="body">
				<div class="header">
					<div class="contact">
						<h1><span>Комментарии</span></h1>
						<h2><span>{{title}}</span></h2>
						    
							<div class="field">
								<form id="login" name="form" method="post" action="/">  
									<textarea name="description" id="description" cols="50" rows="7">
									https://rozetka.com.ua/dell_n2205rpvn5471emea01_p/p72083151/
									https://rozetka.com.ua/dell_vostro_15_5581_n3021vn5581emea01_1905_ubu/p80544633/
									https://rozetka.com.ua/dell_n1122rpvn5370_ubu/p70459454/
									</textarea>
									<br />
									<input type="submit" value="Получить"> 
								</form>
							</div>
						
					</div>
					<div>
						{% if objects %}
							<ul>
								{% for item in objects %}
								<li>
									<div>
									    <p><b>Cсылка</b>: {{item.link}}</p>
										<p><b>Наименование товара</b>: {{item.product_name}}</p>
										<p><b>Цена</b>: {{item.price}}</p>
									</div>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
