<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
        <div>{{Message}}</div>
         <form action="/install" method="post" name="install" class="instalform">
            
            <div class="text-center">      
                <button type="submit"  class="edit" 
                class="bg-color-5 load-more-button">Install</button>
            </div>

        </form>
  </body>
</html>
