<div id="footer">
    <div class="connect">
        <div>
            <h1>FOLLOW OUR  MISSIONS ON</h1>
            <div>
                <a href="https://facebook.com" class="facebook">facebook</a>
                <a href="https://twitter.com" class="twitter">twitter</a>
                <a href="https://plus.google.com/" class="googleplus">googleplus</a>
            </div>
        </div>
    </div>
    <div class="footnote">
        <div>
            <p>&copy; 2023 BY SPACE INDEX | ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>
