<div class="header">
  <a href="/">
    <img class="logo" src="./assets/images/Dwall_online_logo.png">
  </a>
  <a class="link-in" routerLink="/login">Log in</a>
</div>

<div class="login-body" *ngIf="currentTemplate === 'terms'">
  <h1>Terms of Service</h1>

  <div class="text-wrap">
    <h4>Thanks for using DWALL.ONLINE!</h4>
    <p>These terms of service (Terms) cover your use and access to our services, client software and websites
      (Services). Your
      agreement is with Danavero Inc. By using our Services, you agree to be bound by these Terms. If you are using our
      Services
      for an organization, you agree to these Terms on behalf of the organization.</p>
    <h4>User Data & Permissions</h4>
    <p>To use our services you provide us with your files, media content, locations, contacts, etc. (User Data). User
      Data is
      yours. These Terms do not give us any rights to User Data except the limited rights that enable us to offer the
      Services.
    </p>
    <p>Your permission is required to host User Data, back it up, and deliver the User Data to your devices connected to
      our
      service when you direct us to do so. Our Services also provide you with photo thumbnails, video preview, text
      information,
      audio records, easy sorting, editing, broadcasting and searching. These and other features may require our systems
      to access, store and scan the User Data. You give us permission to perform above mentioned activities and this
      permission
      extends to our affiliates and trusted third parties we work with.
    </p>
    <h4>Broadcasting Your Media Content</h4>
    <p>Our Services let you broadcast Your Media Content to your devices connected to our service, so please think
      carefully
      about what you broadcasting.</p>
    <h4>Your Responsibilities</h4>
    <p>You are responsible for your conduct. User Data and you must comply with the copyrights of the content owners.
      Content
      in the Services may be protected by others' intellectual property rights. Do not copy, upload or broadcast content
      unless you have the right to do so.</p>
    <p>We may review at our discretion your conduct and content for compliance with the Terms, however we have no
      obligation
      to do so. We are not responsible for the content users upload and broadcast via the Services.
    </p>
    <p>Help us keep you informed and User Data protected. Safeguard your password to the Services, and keep your account
      information
      current. Do not share your account credentials or give others access to your account.</p>
    <p>You may use our Services only as permitted by applicable law, including export control laws and regulations.</p>
    <h4>Software</h4>
    <p>Some of our Services allow you to download client software (Software) which may update automatically. As long as
      you
      comply with these Terms, we give you a limited, nonexclusive, nontransferable, revocable license to use the
      Software,
      solely to use the Services. Any component of the Software may be offered under an open source license, we will
      make
      that license available to you and the provisions of that license may expressly override some of these Terms.
      Unless
      the following restrictions are prohibited by law, you agree not to reverse engineer or decompile the Services,
      attempt
      to do so or assist anyone in doing so.</p>
    <h4>Beta Services</h4>
    <p>Periodically, we release products and features that are still in testing and evaluating phase. Those Services
      have been
      marked beta, preview, early access, or evaluation (or with words or phrases with similar meanings) and may not be
      as
      reliable as DWALL.ONLINE other services.</p>
    <h4>Our Data</h4>
    <p>The Services are protected by Copyright and various Canadian and International laws. These Terms don't grant you
      any
      right, title or interest in the Services, others' content in the Services, DWALL.ONLINE logos and other brand
      features.
      We welcome feedback, but note that we may use comments or suggestions without any obligation to you.
    </p>
    <h4>Copyright</h4>
    <p>We respect the intellectual property of others and ask that you do too. We respond to notices of alleged
      copyright infringement
      if they comply with the law, and such notices should be reported using our Copyright Policy. We reserve the right
      to
      delete or disable content alleged to be infringing and terminate accounts of repeat infringers. Contact our
      designated
      agent for notice of alleged copyright infringement on the Services at:</p>
    <h4>Copyright Agent</h4>
    <p>copyright@dwall.online</p>
    <h4>Paid Accounts</h4>
    <p>
      <span>Payments.</span>You will be billed monthly or annually depending on the selected plan and number of devices
      added to
      your account. You can increase number of devices. On monthly billing plan we will automatically bill you from the
      date
      you added more devices to your Account. If you're on an annual plan, we will send you a reminding email advising
      that
      your plan is about to renew 30 calendar days prior to the renewal date. You are responsible for all applicable
      taxes
      and we will charge tax when required. Some countries have mandatory local laws regarding your cancellation rights,
      and this paragraph doesn't override these laws.</p>
    <p>
      <span>No Refunds.</span>You may cancel your DWALL.ONLINE service (subscription) at any time, however refunds are
      only issued
      where required by law.</p>
    <p>
      <span>Downgrades.</span>You can decrease number of devices you are using. Your bill will be automatically adjusted
      in the
      following billing cycle. Your Account will remain active until it's cancelled or terminated under these Terms. If
      you
      do not pay for your Account on time, we reserve the right to suspend it or limit access to the service.</p>
    <p>
      <span>Changes. </span> We may change the fees in effect but will give you advance notice of these changes via a
      message to
      the email address associated with your account. </p>
    <h4> Termination</h4>
    <p>You're free to stop using our Services at any time. We reserve the right to suspend or terminate your access to
      the Services
      with notice to you if: </p>
    <ul>
      <li>you're in breach of these Terms,</li>
      <li>you're using the Services in a manner that would cause a real risk of harm or loss to us or other users, or
      </li>
      <li>
        you have not paid for service by due date stated in the invoice.
      </li>
    </ul>
    <p>We'll provide you with 30 calendar days notice via the email to the address associated with your account to
      remedy the
      activity that prompted us to contact you and give you the opportunity to renew our Services. If after such notice
      you
      fail to bring account to the good standing we will suspend your access to the Services and delete all media
      content,
      device profiles and the account.</p>
    <p>Notice will not be provided prior to suspension:</p>
    <ul>
      <li>you're in material breach of these Terms,</li>
      <li>The way you are using the Service would cause us legal liability or compromise our ability to provide the
        Services
        to our other users, or
      </li>
      <li> we're prohibited from doing so by law.</li>
    </ul>
    <h4>Discontinuation of Services</h4>
    <p>We may decide to discontinue the Services in response to unforeseen circumstances beyond Danavero Inc. control or
      to
      comply with a legal requirement. If we do so, we'll give you reasonable prior notice so you can take reasonable
      action.
      If we discontinue Services in this way before the end of any fixed or minimum term you have paid us for, we'll
      refund
      the portion of the fees you have pre-paid but haven't received Services for.</p>
    <h4>Services "AS IS"</h4>
    <p>We strive to provide reliable Services, however there are certain occurrences that we can't guarantee. TO THE
      FULLEST
      EXTENT PERMITTED BY LAW, DANAVERO INC. AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER
      EXPRESS
      OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF
      MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
    <h4>Limitation of Liability</h4>
    <p>WE DON'T EXCLUDE OR LIMIT OUR LIABILITY TO YOU WHERE IT WOULD BE ILLEGAL TO DO SO—THIS INCLUDES ANY LIABILITY FOR
      DANAVERO
      INC OR ITS AFFILIATES' FRAUD OR FRAUDULENT MISREPRESENTATION IN PROVIDING THE SERVICES. IN COUNTRIES WHERE THE
      FOLLOWING
      TYPES OF EXCLUSIONS AREN'T ALLOWED, WE'RE RESPONSIBLE TO YOU ONLY FOR LOSSES AND DAMAGES THAT ARE A REASONABLY
      FORESEEABLE
      RESULT OF OUR FAILURE TO USE REASONABLE CARE AND SKILL OR OUR BREACH OF OUR CONTRACT WITH YOU. THIS PARAGRAPH
      DOESN'T
      AFFECT CONSUMER RIGHTS THAT CAN'T BE WAIVED OR LIMITED BY ANY CONTRACT OR AGREEMENT.</p>
    <p>IN COUNTRIES WHERE EXCLUSIONS OR LIMITATIONS OF LIABILITY ARE ALLOWED, DANAVERO INC., ITS AFFILIATES, SUPPLIERS
      OR DISTRIBUTORS
      WON'T BE LIABLE FOR:</p>
    <p>i. ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES, OR</p>
    <p> ii. ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY.</p>
    <p>THESE EXCLUSIONS OR LIMITATIONS WILL APPLY REGARDLESS OF WHETHER OR NOT DANAVERO INC OR ANY OF ITS AFFILIATES HAS
      BEEN
      WARNED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
    <p>IF YOU USE THE SERVICES FOR ANY COMMERCIAL, BUSINESS PURPOSE, DANAVERO INC, ITS AFFILIATES, SUPPLIERS OR
      DISTRIBUTORS
      WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT, LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS
      OPPORTUNITY. DANAVERO INC. AND ITS AFFILIATES AREN'T RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF
      ANY
      USER OF THE SERVICES.</p>
    <p>OTHER THAN FOR THE TYPES OF LIABILITY WE CANNOT LIMIT BY LAW (AS DESCRIBED IN THIS SECTION), WE LIMIT OUR
      LIABILITY TO
      YOU TO THE GREATER OF $5 USD OR 100% OF ANY AMOUNT YOU'VE PAID UNDER YOUR CURRENT SERVICE PLAN WITH DANAVERO
      INC.</p>
    <h4>Resolving Disputes</h4>
    <p>We will do our best to address your concerns without needing a formal legal proceeding. Before filing a claim
      against
      Danavero Inc., you agree to attempt to resolve the dispute informally by contacting our Customer Care Team
      dispute-notice@dwall.online.
      We'll do our best to resolve the dispute by investigating and addressing the issue, collaborating with you and
      find
      mutually satisfied solution. However, if the issue is not resolved within 15 days of submission, any party. may
      begin
      a legal proceeding.</p>
    <p>Judicial forum for disputes. You and Danavero Inc. agree that any judicial proceeding to resolve disputes
      relating to
      these Terms or the Services will be brought to the Ontario Provincial courts (Canada), subject to the mandatory
      arbitration
      provisions below. Both you and Danavero Inc. consent to venue and personal jurisdiction in such courts. If you
      reside
      in a country with laws that give consumers the right to bring disputes in their local courts, this paragraph
      doesn't
      affect those requirements.</p>
    <h4>Entire Agreement</h4>
    <p>These Terms constitute the entire agreement between you and Danavero Inc. with respect to the subject matter of
      these
      Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable
      to the subject matter of these Terms. These Terms create no third party beneficiary rights.</p>
    <h4>Waiver, Severability & Assignment</h4>
    <p>Danavero Inc. failure to enforce a provision is not a waiver of its right to do so later. If a provision is found
      unenforceable,
      the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted
      reflecting
      our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt
      will
      be void. Danavero Inc. may assign its rights to any of its affiliates or subsidiaries, or to any successor in
      interest
      of any business associated with the Services.</p>
    <h4>Modifications</h4>
    <p>We may revise these Terms from time to time to better reflect:</p>
    <ul>
      <li>changes to the law,</li>
      <li>new regulatory requirements, or</li>
      <li> improvements or enhancements made to our Services.</li>
    </ul>
    <p>If an update affects your use of the Services or your legal rights as a user of our Services, we'll notify you
      prior
      to the update's effective date by email to the email address associated with your account or via an in-product
      notification.
      These updated terms will be effective no less than 30 days from the notification date.</p>
    <p>If you don't agree to the updates we make, please cancel your account before they become effective. Where
      applicable,
      we'll offer you a prorated refund based on the amounts you have prepaid for Services and your account cancellation
      date.
      <span>By continuing to use or access the Services after the updates come into effect, you agree to be bound by the revised
        Terms.
      </span>
    </p>
  </div>
</div>

<div class="login-body" *ngIf="currentTemplate === 'policy'">
  <h1>PRIVACY POLICY</h1>

  <div class="text-wrap">
    <h4>Short</h4>
    <p>Danavero Inc. commits to strong and transparent privacy practices. Our Privacy Policy explains:</p>
    <ul class="pointed">
      <li>Who we are</li>
      <li>What information we collect about you and why</li>
      <li>Your rights relating to your information we collect</li>
      <li>How we use information we collect</li>
      <li>How we share information we collect</li>
      <li>Retention period</li>
      <li>Where We Store your Personal Data</li>
      <li>How we protect your Personal Data</li>
      <li>Cookies</li>
    </ul>
    <p>Please read this Privacy Policy carefully. By using or accessing the website, application or service offered by
      Danavero Inc. (the "Services") you acknowledge that you have read, understood, and agree to be bound to all the
      terms and conditions of this Privacy Policy, and the "Terms of Use" or other customer agreement between you and
      Danavero Inc. that is applicable to the particular service you are using or accessing (collectively, "User
      Agreements").</p>
    <p>
      If you do not agree to this Privacy Policy and the applicable User Agreement, please exit, and do not access or
      use the Services.
    </p>

    <h4>Privacy Policy</h4>
    <p>We recognize that your privacy is very important and take it seriously. This Privacy Policy describes Danavero's
      policies and procedures on the collection, use and disclosure of your information when you use the Services and
      tells you about your privacy rights and how the law protects you. By using the Services, you consent to our use of
      your information in accordance with this Privacy Policy. We will not use or share your personal information with
      anyone except as described in this Privacy Policy. Capitalized terms that are not defined in this Privacy Policy
      have the meaning given them in our Terms of Service. </p>
    <h4>1. Who we are </h4>
    <p>This Privacy Policy applies to all Services offered by Danavero Inc. (a company incorporated in Canada with
      company registration number 002455591 and whose registered office address is suite 311, 75 Portland street,
      Toronto, Ontario, M5V2M9), but excludes any Services that have separate privacy notices which do not incorporate
      this Privacy Policy.</p>
    <p>If you have any questions about our practices or this Privacy Policy, please contact us.</p>

    <h4>2. What we collect and why</h4>
    <p>To the extent permissible under applicable law, we collect information about you and any other party whose
      details (the "Personal Data") you provide to us when you: </p>

    <ul class="pointed">
      <li>register to use our Services (including free trials); this may include your name (including business name),
        address, email address and telephone number. We may also ask you to provide additional information about your
        business and your preferences;
      </li>
      <li>place an order using our Services; this may include your name (including business name), address, contact
        (including telephone number and email address) and payment details;
      </li>
      <li>complete online forms (including call back requests), take part in surveys, post on our message boards, post
        any blogs, download information such as publications or participate in any other interactive areas that appear
        on our website or within our Services;
      </li>
      <li>interact with us using social media;</li>
      <li>provide your contact details to us when registering to use or accessing any Services we make available or when
        you update those details; and
      </li>
      <li>contact us offline, for example by telephone, fax, SMS, email or post.</li>
      <li>information that we collect automatically when you visit our website, such as information about your browser
        settings and other information collected through cookies.
      </li>
      <li>payment processing - when you buy something from us, we ask you to provide your name, contact information, and
        credit card information or other payment account information. When you submit your card information, we store
        the name and address of the cardholder, the expiry date and the last four digits of the credit card number. We
        do not store the actual credit card number. For quick processing of future payments, if you have given us your
        approval, we may store your credit card information or other payment information.
      </li>
    </ul>

    <p>Our Service is not intended for children under the age of 16, and therefore, Danavero does not knowingly acquire
      or receive Personal Data from children under the age of 16. If we later learn that any user of our Service is
      under the age of 16, we will take appropriate steps to remove that user's information from our account database
      and will restrict that individual from future access to the Service.</p>

    <p><strong>Personal Data from Third Party Sources.</strong> We may use third-party services, such as open search
      tools and social networks, to obtain information about you (such as your name or company) and to enrich your
      personal information by obtaining publicly available information about you, such as your job title, employment
      history and contact information.
    </p>

    <h4>3. Your rights relating to your information we collect</h4>
    <p>You have the right under this Privacy Policy and by law if you are within the EU, to:</p>
    <ul class="pointed">
      <li>request access to your Personal Data. If you are within the EU, this enables you to receive a copy of the
        Personal Data we hold about you and to check that we are lawfully processing it.
      </li>
      <li>request correction of the Personal Data that we hold about you. This enables you to have any incomplete or
        inaccurate information we hold about you corrected.
      </li>
      <li>request erasure of your Personal Data. This enables you to ask us to delete or remove Personal Data where
        there is no good reason for us continuing to process it. You also have the right if you are within the EU to ask
        us to delete or remove your Personal Data where you have exercised your right to object to processing (see
        below).
      </li>
      <li> object to processing of your Personal Data. This right exists where we are relying on a legitimate interest
        as the legal basis for our processing and there is something about your particular situation, which makes you
        want to object to processing of your Personal Data on this ground. You also have the right to object where we
        are processing your Personal Data for direct marketing purposes.
      </li>
      <li>request the restriction of processing of your Personal Data. This enables you to ask us to suspend the
        processing of Personal Data about you, for example if you want us to establish its accuracy or the reason for
        processing it.
      </li>
      <li>request the transfer of your Personal Data. If you are within the EU, we will provide to you, or a third party
        you have chosen, your Personal Data in a structured, commonly used, machine-readable format. Note that this
        right only applies to automated information which you initially provided consent for us to use or where we used
        the information to perform a contract with you.
      </li>
      <li>withdraw consent. This right only exists where we are relying on consent to process your Personal Data
        ("Consent Withdrawal"). If you withdraw your consent, we may not be able to provide you with access to the
        certain specific functionalities of our Site. We will advise you if this is the case at the time you withdraw
        your consent.
      </li>
    </ul>

    <p><strong>How to exercise your rights.</strong> If you want to exercise any of the rights described above, please
      contact us using the contact details in Who we are.</p>

    <p>Typically, you will not have to pay a fee to access your Personal Data (or to exercise any of the other rights).
      However, except in relation to Consent Withdrawal, we may charge a reasonable fee if your request is clearly
      unfounded, repetitive or excessive, or, we may refuse to comply with your request in these circumstances.</p>
    <p>We may need to request specific information from you to help us confirm your identity and ensure your right to
      access your Personal Data (or to exercise any of your other rights). This is a security measure to ensure that
      Personal Data is not disclosed to any person who has no right to receive it. We may also contact you to ask you
      for further information in relation to your request to speed up our response.</p>
    <p>We try to respond to all legitimate requests within one month. Occasionally it may take us longer than a month if
      your request is particularly complex or you have made a number of requests. In this case, we will notify you and
      keep you updated.</p>

    <h4>4. How we use information we collect</h4>
    <p>Danavero uses Personal Data to: (i) provide, administer, and improve our Service; (ii) better understand your
      needs and interests; (iii) fulfill requests you make; (iv) personalize your experience; (v) provide Service
      announcements; (vi) provide you with information and offers from Danavero and our business partners and (vii)
      comply with legal obligations.</p>

    <p>In respect of each of the purposes for which we use your Personal Data, the GDPR requires us to ensure that we
      have a legal basis for that use if you are within the EU. The legal bases depend on the Services you use and how
      you use them. This means we collect and use your Personal Data only where:</p>

    <ul class="pointed">
      <li>We need it to provide you the Services, including to operate the Services, provide customer support and
        personalized features and to protect the safety and security of the Services;</li>
      <li>It satisfies a legitimate interest (which is not overridden by your data protection interests), such as for
        research and development, to market and promote the Services and to protect our legal rights and interests; or</li>
      <li>We need to process your data to comply with a legal or regulatory obligation.</li>
    </ul>

    <p>We may also rely on your consent as a legal basis for using your Personal Data where we have expressly sought it
      for a specific purpose. If we do rely on your consent to a use of your Personal Data, you have the right to change
      your mind at any time (but this will not affect any processing that has already taken place). </p>
    <p>For example, we use Personal Data to:</p>
    <p>Operate and improve the Service</p>
    <ul class="pointed">
      <li>Learn more about our users and their internet behaviors</li>
      <li>Target offers to users</li>
      <li>Provide user support</li>
      <li>Communicate with users regarding support, security, technical issues, commerce, marketing, and transactions</li>
      <li>Administer the Service, User Accounts</li>
      <li>Enforce our contracts, administering and carrying out our obligations under contracts, and complying with the
        law</li>
    </ul>

    <h4>5. How we share information we collect</h4>

    <p>Danavero uses certain trusted third parties (for example, providers of customer support and IT services) to help
      us provide, improve, protect, and promote our Services. These third parties will access your information only to
      perform tasks on our behalf in compliance with this Privacy Policy, and we'll remain responsible for their
      handling of your information per our instructions. We also share Personal Data to our service providers provide us
      support for our Services, including, for example, website and application development, hosting, maintenance,
      backup, storage, virtual infrastructure, payment processing, analysis and other services for us, which may require
      them to access or use Personal Data about you.</p>

    <p>Danavero may disclose your Personal Data if we believe it is reasonably necessary to comply with a law,
      regulation, order, and subpoena or to protect our legal rights, interests. </p>


    <h4>6. Retention period</h4>

    <p>
      We will not retain personal information longer than necessary to fulfill the purposes for which it is processed,
      including the security of our processing complying with legal and regulatory obligations (e.g. audit, accounting
      and statutory retention terms), handling disputes, and for the establishment, exercise or defense of legal claims
      in the countries where we do business.
    </p>


    <h4>7. Where we store your Personal Data</h4>
    <p>The Services are maintained in the Canada. Personal Data that you provide us may be stored, processed and
      accessed by us, our staff, sub-contractors and third parties with whom we share Personal Data in the Canada or
      elsewhere inside or outside of the EU for the purposes described in this policy. We may also store Personal Data
      in locations outside the direct control of Danavero Inc. (for instance, on servers or databases co-located with
      hosting providers). Although we welcome users from all over the world, by accessing the Services and providing us
      with your Personal Data, you consent to and authorize the export of Personal Data to the Canada and its storage
      and use as specified in this Privacy Notice. Note the laws of the Canada might not be as comprehensive or
      protective as laws in the country where you live.</p>

    <h4>8. How we protect your Personal Data</h4>
    <p>We take administrative, technical and physical measures to safeguard your personal information against
      unauthorized access, unauthorized disclosure, theft and misuse. This includes limiting access of employees to, and
      the use of, your personal information through the use of passwords and graduated levels of clearance to those who
      have a genuine business need to know it. Those processing your information will do so only in an authorized manner
      and are subject to a duty of confidentiality. We do not publish all of our security measures online because this
      may reduce their effectiveness. We take physical precautions to ensure that the computer servers on which your
      personal information is stored and archived are secure and that access to such servers is protected. We educate
      our employees with respect to their obligations to protect your personal information and we require our affiliates
      and any third-party service providers to take comparable steps to ensure the protection of any of your personal
      information that is shared with them.</p>

    <p>We also have procedures in place to deal with any suspected data security breach. We will notify you and any
      applicable regulator of a suspected data security breach where we are legally required to do so.</p>

    <p>Although we take precautions against possible breaches of our security systems, no company can fully eliminate
      the risks of unauthorized access to your personal information and no website is completely secure. We cannot
      guarantee that unauthorized access, hacking, data loss or breaches of our security systems will never occur.
      Accordingly, you should not transmit personal information to us using our website if you consider that information
      to be sensitive.</p>

    <h4>9. Cookies</h4>
    <p>We collect anonymous information from visits to our website to help us provide better customer service. For
      example, we record certain automatically collected information, which include IP address, web browser, OS, the web
      pages or sites visited just before or just after using the website, keep track of the domains from which you visit
      and we also measure your activity on the website, but we do so in ways that keep the information anonymous.
      Danavero uses this data to analyze trends and statistics and to help us provide better customer service. Cookies
      can be used to provide you with tailored information from a website. You can determine if and how a cookie will be
      accepted by configuring your browser, which is installed in the computer you are using to access the website. If
      you desire, you can change those configurations in your browser to accept all cookies, to be notified when a
      cookie is sent, or to reject all cookies.</p>

  </div>
</div>

<div class="login-body" *ngIf="currentTemplate === 'failure'; else errorOccured">
  <h1>{{error}}</h1>
</div>

<ng-template #errorOccured>
  <div class="login-body">
    <h1>{{error}}</h1>
  </div>
</ng-template>
